<form action="/admin/settings=postdef" method="post">
<table>
    <tr>
        <td>Количество объявлений на страницу</td>
        <td><input type="text" name="LIMIT_PAGE" value="#LIMIT_PAGE" /></td>
    </tr>
    <tr>
        <td>Количество похожих объявлений на страницу</td>
        <td><input type="text" name="LIMIT_ANNOUNCEEXT" value="#LIMIT_ANNOUNCEEXT" /></td>
    </tr>
    <tr>
        <td>Количество чисел в пейджинге</td>
        <td><input type="text" name="LIMIT_SELECTOR" value="#LIMIT_SELECTOR" /></td>
    </tr>
    <tr>
        <td><input type="reset" value="Отменить"/></td>
        <td><input type="submit" value="Сохранить изменения"/></td>
    </tr>
</table>
</form>
