<form action="/admin/settings=postdef" method="post">
<table>
    <tr>
        <td>Количество попыток входа на сайт</td>
        <td><input type="text" name="LIMIT_BANIP" value="#LIMIT_BANIP" /></td>
    </tr>
    <tr>
        <td>Время бана</td>
        <td><input type="text" name="LIMIT_BANTIME" value="#LIMIT_BANTIME" /></td>
    </tr>
    <tr>
        <td><input type="reset" value="Отменить"/></td>
        <td><input type="submit" value="Сохранить изменения"/></td>
    </tr>
</table>
</form>
