<form action="/admin/settings=postdef" method="post">
<table>
    <tr>
        <td>Количество фоток для гостя</td>
        <td><input type="text" name="LIMIT_IMAGE_GUEST" value="#LIMIT_IMAGE_GUEST" /></td>
    </tr>
    <tr>
        <td>Количество фоток для пользователя</td>
        <td><input type="text" name="LIMIT_IMAGE_AUTH" value="#LIMIT_IMAGE_AUTH" /></td>
    </tr>
    <tr>
        <td>Количество фоток для компании</td>
        <td><input type="text" name="LIMIT_IMAGE_COMP" value="#LIMIT_IMAGE_COMP" /></td>
    </tr>
    <tr>
        <td>Размер фотографий по ширине</td>
        <td><input type="text" name="IMAGE_MAXWSIZE" value="#IMAGE_MAXWSIZE" /></td>
    </tr>
    <tr>
        <td>Размер фотографий по высоте</td>
        <td><input type="text" name="IMAGE_MAXHSIZE" value="#IMAGE_MAXHSIZE" /></td>
    </tr>
    <tr>
        <td>Размер фотографии объявления</td>
        <td><input type="text" name="IMAGE_PHOTOSIZE" value="#IMAGE_PHOTOSIZE" /></td>
    </tr>
    <tr>
        <td>Размер эскиза фотографии</td>
        <td><input type="text" name="IMAGE_THUMBSIZE" value="#IMAGE_THUMBSIZE" /></td>
    </tr>
    <tr>
        <td>Размер иконки пользователя</td>
        <td><input type="text" name="IMAGE_ICONSIZE" value="#IMAGE_ICONSIZE" /></td>
    </tr>
    <tr>
        <td><input type="reset" value="Отменить"/></td>
        <td><input type="submit" value="Сохранить изменения"/></td>
    </tr>
</table>
</form>
