<form action="/admin/settings=postsys" method="post">
<table>
    <tr>
        <td>Заголовок сайта</td>
        <td><input type="text" name="SITE_TITLE" value="#SITE_TITLE" size="20" maxlength="20" /></td>
    </tr>
    <tr>
        <td>Тезис сайта</td>
        <td><textarea name="SITE_TESIS" cols="80" rows="10">#SITE_TESIS</textarea></td>
    </tr>
    <tr>
        <td><input type="reset" value="Отменить"/></td>
        <td><input type="submit" value="Сохранить изменения"/></td>
    </tr>
</table>
</form>
