<a id="1" href="/cabuser">
    <div class="left defaultleft"></div>
    <span class="default">Панель управления</span>
    <div class="right defaultright"></div>
</a>
<a id="2" href="/cabuser/favourite">
    <div class="left defaultleft"></div>
    <span class="default">Объявления</span>
    <div class="right defaultright"></div>
</a>
<a id="6" href="/cabuser/banner">
    <div class="left defaultleft"></div>
    <span class="default">Реклама</span>
    <div class="right defaultright"></div>
</a>
<a id="5" href="/cabuser/ticket">
    <div class="left defaultleft"></div>
    <span class="default">Заявки</span>
    <div class="right defaultright"></div>
</a>
<a id="3" href="/cabuser/mailbox">
    <div class="left defaultleft"></div>
    <span class="default">Сообщения</span>
    <div class="right defaultright"></div>
</a>
<a id="4" href="/cabuser/account_change">
    <div class="left defaultleft"></div>
    <span class="default">Настройки</span>
    <div class="right defaultright"></div>
</a>
