<div class="built-container-silver">
    <form id="user_change_password" method="post" action="/cabuser/mail_post">

    <div class="legend picture-knope">Изменение адреса электронной почты [#EMAIL]</div>
    <div class="block-context">

        <div>
            <div class="caption">Текущий пароль:</div>
            <div><input type="password" name="password" value="" maxlength="32"/></div>
        </div>

        <div>
            <div class="caption">Новый E-Mail:</div>
            <div><input type="text" name="email" value="" maxlength="60"/></div>
        </div>
    </div>

    <div class="legend"><input type="submit" value="Сохранить изменения" /></div>
    </form>
</div>
