<div id="announce-table" class="#CLASS" style="clear: left;">
    <div style="width: 85px; float: left; margin: 5px;">
        <a href="#USERITEM/#ANNOUNCEID"><img class="photo lazy" data-original="/#IMAGEPATH" src="/images/ajax-loader.gif" /></a>
    </div>
    <div style="float: right; width: 200px; margin-top: 5px;">
        <div class="#CLASS">
            <div class="announce-cost">#COST #CURRENCY</div><div class='announce-tag'>#TAGDESC</div>
        </div>
    </div>
    <div class="body">
        <div style="margin: 2px;" class="fav fav-on" onclick="AnQueryFavourite(this, #ANNOUNCEID)" title="Добавить в избранное"></div>
        <h3 class="caption"><a href="#USERITEM/#ANNOUNCEID">#CAPTION</a></h3>
        <div class="category-comp" style="clear: none;">
            г. #CITY,
            #DATELIFE
            &nbsp;
            <span class="icon-views">#VIEWS</span>
            <span class="icon-comment">#COMMENTS</span>
            &nbsp;
            <span class="icon-#USERTYPE"><a href="#USERLINK">#LOGIN</a></span>
        </div>
    </div>
</div>
