<div class="built-container-silver">
    <form id="user_change_password" method="post" action="/cabuser/password_post">

    <div class="legend picture-knope">Изменение пароля</div>
    <div class="block-context">

        <div>
            <div class="caption">Текущий пароль:</div>
            <div><input type="text" name="pwd_old" value="" maxlength="32"/></div>
        </div>

        <div>
            <div class="caption">Новый пароль:</div>
            <div><input type="text" name="pwd_new" value="" maxlength="32"/></div>
        </div>
    </div>

    <div class="legend"><input type="submit" value="Сохранить изменения" /></div>
    </form>
</div>
