<div class="main">
    <a class="icon" href="/#CATLINK/#GROUPID" style="background-image: url(#THEMEPIC/#GROUPID.png);"></a>

    <div id="block#GROUPID" class="block">
        <h3><a class="root" href="/#CATLINK/#GROUPID">#CAPTION</a><span class="count"> (#COUNT)</span></h3>
        <span class="showed">#ITEMSHOWED</span>
        <span class="hidden" id="hidden#GROUPID">#ITEMHIDDEN</span>
        <a class="clicker" href="javascript:;" onclick="return ExpandGroupMain(this, #GROUPID);">все рубрики</a>
    </div>
</div>
