</div>
<div class="wrapped-width" style="background-color: #F0F0F0; padding-top: 10px;">
    <div class="wrapped-margin" id="main-tesis">
        <a href="#TRADELINK" class="tradelink">Добавить #TRADEITEM</a>
        <div class="news">
            #TRADENEWS
        </div>
        <div id="main-group-top">
            <div class="label">
                Категории #TRADETYPE
            </div>
        </div>
    </div>
</div>
<div class="wrapped-margin">
    <div class="built-container" style="padding-top: 20px;">
        <div class="category-block">#CATEGORY1</div>
        <div class="category-block" style="margin-left: 5px;">#CATEGORY2</div>
        <div class="category-block" style="margin-left: 5px;">#CATEGORY3</div>
    </div>
