<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=11126530&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/11126530/3_0_FFFFFFFF_FAF0E6FF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:11126530,type:0,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter11126530 = new Ya.Metrika({id:11126530, clickmap:true, accurateTrackBounce:true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/11126530" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
var a='';js=10;d=document;
try{a+=';r='+escape(d.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
try{d.write('<a href="http://top.mail.ru/jump?from=2065877"><img src="http://d5.c8.bf.a1.top.mail.ru/counter?id=2065877;t=239;js='+js+
a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" style="border:0;" height="31" width="88" \/><\/a>');}catch(e){}//]]></script>
<noscript><p><a href="http://top.mail.ru/jump?from=2065877"><img src="http://d5.c8.bf.a1.top.mail.ru/counter?js=na;id=2065877;t=239"
style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a></p></noscript>
<!-- //Rating@Mail.ru counter -->

<!--Openstat-->
<span id="openstat2199421"></span>
<script type="text/javascript">
var openstat = { counter: 2199421, image: 87, color: "c3c3c3", next: openstat };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
<!--/Openstat-->

<!-- Yandex Market -->
<script type="text/javascript">
(function(w, d, n, s, t) {
    w[n] = w[n] || [];
    w[n].push(function() {
        Ya.Direct.insertInto(90418, "yandex_ad", {
            site_charset: "utf-8",
            ad_format: "direct",
            font_size: 0.9,
            font_family: "tahoma",
            type: "vertical",
            border_type: "ad",
            limit: 5,
            title_font_size: 1,
            site_bg_color: "FFFFFF",
            header_bg_color: "FFFFFF",
            border_color: "CACACA",
            title_color: "006699",
            url_color: "006699",
            all_color: "000000",
            text_color: "000000",
            hover_color: "6699CC"
        });
    });
    t = d.documentElement.firstChild;
    s = d.createElement("script");
    s.type = "text/javascript";
    s.src = "http://an.yandex.ru/system/context.js";
    s.setAttribute("async", "true");
    t.insertBefore(s, t.firstChild);
})(window, document, "yandex_context_callbacks");
</script>
<!-- /Yandex Market -->
