<div id="main-footer" class="wrapped-width" style="clear: both; margin-top: 15px;">
    <div class="wrapped-margin">
        <!-- Нижняя группировка -->
        <div id="main-group-bottom"></div>
        <div class="container">
            <div class="block logo"></div>
            <div class="block" style="padding-left: 20px;">
                <b>О проекте</b><br/>
                <a href='/info/7'>Кто мы?</a><br/>
                <a href='/info/8'>Контакты</a><br/>
                <a href='/info/9'>Инвесторам</a><br/>
            </div>
            <div class="separator"></div>
            <div class="block">
                <b>Компаниям</b><br/>
                <a href='/info/11'>Регистрация</a><br/>
                <a href='/info/12'>Идентификация</a><br/>
                <a href='/info/10'>Партнерам</a><br/>
            </div>
            <div class="separator"></div>
            <div class="block">
                <b>Покупателям</b><br/>
                <a href='/info/13'>Найти продукцию</a><br/>
                <a href='/info/14'>Найти компанию</a><br/>
                <a href='/info/15'>Заказ товара</a><br/>
            </div>
            <div class="separator"></div>
           <div class="block">
                <b>Рекламодателям</b><br/>
                <a href='/info/16'>Заказ рекламы</a><br/>
                <a href='/info/17'>Прайс-лист</a><br/>
                <a href='/info/18'>Контакты</a><br/>
            </div>

            <div style="float: right; display: inline-block;">
                <div id="site-perf">
                    <code>
                        T: #INFOTIME<br/>
                        Q: #INFOQUERY
                    </code>
                </div>
                #COUNTERS
            </div>
        </div>
        <center>
            &copy; 2011-2012 Торговая площадка и доска бесплатных объявлений
            <br />Копирование и распространение материалов размещенных на сайте #SITEPATH, без согласования с администрацией сайта запрещается.
            <br />Администрация #SITEPATH не несет ответственности за информацию размещенную на сайте и за последствия использования этой информации.
            <br /><br />
        </center>
    </div>
</div>
