<div class="built-container-silver">
    <form id="form-signup" method="post" action="/mixed/fastregpost">

    <div class="legend picture-knope">Быстрая регистрация</div>
    <div class="block-context">

        <div>
            <div class="caption">Логин:</div>
            <div><input type="text" name="login" id="login" maxlength="20" size="35"/></div>
        </div>

        <div>
            <div class="caption">Пароль:</div>
            <div><input type="password" name="pwd" id="pwd" maxlength="20" size="35"/></div>
        </div>

        <div>
            <input type="hidden" name="pk" value="#PASSKEY" /><br />
            <input id="submit" type="submit" value="Зарегистрироваться" />
        </div>

    </div>
    </form>
</div>
