<div class="header-small">
    <div id="category-relink">
        #CATPATH Обзор
    </div>
</div>

<div class="block-context-clear">
    <div class="admin-category-left">
        <ul>#CATLIST</ul>
    </div>

    <div class="admin-editor">
        <form method="post" action="/admin/category=postann&id=#CATID">
        <table>
        <tr>
            <td>Наименование:</td>
            <td><input name="caption" type="text" maxlength="28" size="40" value="#CAPTION"/></td>
        </tr>
        <tr>
            <td>Ключевые слова:</td>
            <td><textarea name="keywords" cols="50" rows="5">#KEYWORDS</textarea></td>
        </tr>
        <tr>
            <td>Действия:</td>
            <td>
                #ACTIONS
                <font color="#316C91"><b>
                    <input type="checkbox" name="inheritaction" id="inheritaction"/>
                    <label for="inheritaction">Наследовать для подрубрик</label>
                </b></font>
            </td>
        </tr>
        <tr>
            <td>Состояние:</td>
            <td>#STATES</td>
        </tr>
        <tr>
            <td><input type="reset" value="Отменить"/></td>
            <td align="center"><input type="submit" value="Сохранить изменения"/></td>
        </tr>
        </table>
        </form>
    </div>
</div>
