<div class="built-container-silver">
    <div class="legend picture-knope">Переадресация</div>
    <div class="block-context">
        <div>
            <p>
                Вы будете перенаправлены на сайт через <b><span id="time">3</span> сек.</b>
                Нажмите на ссылку, если Ваш броузер не поддерживает автоматической переадресации
            </p>
            <p><a rel="nofollow" href="#LINKURL">#LINKURL</a></p>
        </div>
    </div>
</div>
<script>
    TimerRedirect('#LINKURL', time);
</script>
