<div class="built-container-silver">
    <div class="legend picture-knope">Библиотека</div>

    <div class="block-context">
        <div style="display: inline-block; width: 100%;">
            <div id="info-left">
                <ul id="treeview" class="filetree treeview-famfamfam treeview">
                    #TREELIST
                </ul>
            </div>
            <div id="info-body">
                <h3>#CAPTION</h3>
                <div>#CONTENT</div>
            </div>

            <hr />
            <div align="right">#DATELIFE</div>
        </div>
    </div>
</div>
