<div id="mailbox" style="margin: 0px auto;">
    <div>
        <div style="float: left; font-size: 17px; font-weight: bold;">Создание сообщения</div>
        <a class="button-silver" style="float: right;" href="/cabuser/mailbox">Вернуться к сообщениям</a>
    </div>

    <form method="post" action="/cabuser/mailbox/post">
    <input type="hidden" name="id" value="#USERID"/>
    <input type="hidden" name="referer" value="#REFERER"/>
    <table width="100%" id="announce-table">
        <tr><td rowspan="5" width="200px" style="vertical-align: top;">
            <a href="http://#SITEPATH/user/#USERID" style="display: block;">
                <img class="lazy photowide" data-original="/#IMAGEPATH" src="/images/ajax-loader.gif"/>
            </a>
        </td></tr>
        <tr><td class="title">
            Кому: <a href="/user/#USERID">#USERNAME</a>
        </td></tr>
        <tr><td>
            <p class="title">Тема:</p>
            <input name="mailcaption" id="mailcaption" class="mailtext" placeholder="Тема сообщения" value="" type="text" maxlength="100" size="80"/>
        </td></tr>
        <tr><td>
            <p class="title">Сообщение:</p>
            <textarea name="mailtext" id="mailtext" class="mailtext" placeholder="Текст сообщения" cols="62" rows="6"></textarea>
        </td></tr>
        <tr><td>
            <input type="submit" value="Отправить"/>
        </td></tr>
    </table>
    </form>
</div>
