<div class="header-small">
    <div id="category-relink">
        #CATEGORY компания
    </div>
</div>

<div class="block-context-clear" style="padding-left: 15px;;">
    <h2>#CAPTION</h2>

    <p>
        <b>Адрес компании:</b><br />
        г.#CITY, #LOCATION_STREET
    </p>

    <div>
        <div><b>Контактная информация:</b></div>
        <div>#CONTACT</div>
    </div>

    <div style="margin-right: 225px;">
        <p>
            <b>Описание:</b>
        </p>
        #TEXTDATA
    </div>
</div>
