<div id="announce-table" style="height: 90px;">
    <div style="width: 90px; float: left;">
        <a href="/item/#ANNOUNCEID"><img class="photo lazy" data-original="/#IMAGEPATH" src="/images/ajax-loader.gif" /></a>
    </div>
    <div style="float: left; width: 270px;" >
        <h3 class="caption"><a href="/item/#ANNOUNCEID">#CAPTION</a></h3>

        <div class="#CLASS">
            <div class="announce-cost">#COST #CURRENCY</div><div class='announce-tag'>#TAGDESC</div>
        </div>
    </div>
</div>
