<div id="announce-table" class="#CLASS">
    <div style="width: 85px; float: left; margin: 5px;">
        <a href="#USERLINK/item/#ANNOUNCEID"><img class="photo lazy" data-original="/#IMAGEPATH" src="/images/ajax-loader.gif" width="119px" height="119px" /></a>
    </div>
    <div style="width: 450px; float: left;" >
        <h3 class="caption"><a href="#USERLINK/item/#ANNOUNCEID">#CAPTION</a></h3>
        <div class="category-comp">
            <div class="fav #FAVOURITE" onclick="AnQueryFavourite(this, #ANNOUNCEID)" title="Добавить в избранное"></div>
            #DATELIFE
            <b>г. #CITY</b>
            <span class="icon-views">#VIEWS</span>
            <span class="icon-comment">#COMMENTS</span>
        </div>
        <div><b>#ACTION</b> &raquo; <a href="/cat/#CATID">#CATEGORY</a></div>
    </div>
    <div class="text-user">
        <div class="#CLASS">
            <div class="announce-cost">#COST #CURRENCY</div><div class='announce-tag'>#TAGDESC</div>
        </div>
        <div style="margin-top: 37px;">
            <span class="icon-#TYPE"></span><a style="font-weight: bold;" href="#USERLINK">#LOGIN</a></span>
        </div>
        <div class="contact">
            <a href="#USERLINK/contact/">Контакты</a>
            |
            <a href="#USERLINK/product/">Товары</a>
            |
            <a href="#USERLINK/news/">Новости</a>
        </div>
    </div>
</div>
