<div class="built-container-silver">
    <div class="legend picture-persone">Что делать дальше?</div>
    <div class="block-knope">
        <div class="block-context">
        <p>
            Вы указали в объявлении почтовый ящик, на который отправлена ссылка для
            управления объявлением. При помощи этой ссылки Вы можете быстро стать
            полноценным пользователем доски объявления и пользоваться дополнительными
            преимуществами, которые отсутствуют у гостей.
        </p>
        </div>
        <ul>
            <li><a href="/announce/#ANNOUNCEID">Просмотреть добавленное объявление</li></a>
            <li><a href="/payment/announce/#ANNOUNCEID"><b>Выделить добавленное объявление</b></li></a>
            <li><a href="/announce/edit&id=#ANNOUNCEID">Редактировать добавленное объявление</li></a>
            <li><a href="/announce/create">Добавить новое объявление</a></li>
            <li><a href="/">Вернуться на сайт</a></li>
        </ul>
    </div>
</div>
