<div class="built-container-silver">
    <div class="legend picture-persone">Профиль пользователя</div>
    <div class="block-context" style="display: inline-block;">

        <div id="photoblock" style="float: left; width: 190px; background: white; text-align: center;">
            <img class="lazy" data-original="/#PHOTOPATH" src="/images/ajax-loader.gif" width="190px" height="190px"/>
            <div style="font-size: 10px;">
                Регистрация: #DATELIFE
            </div>
            <div style="padding: 10px;">
                <a href="/cabuser/mailbox/write&id=#USERID">Написать сообщение</a>
            </div>
        </div>
        <div style="float: right; width: 190px; background: white;">
            <div class="header-small">Контакты</div>
            <div class="header-small-data">#CONTACT</div>
        </div>

        <div style="margin-left: 200px; margin-right: 200px; width: 450px; ">
            <div><b>#NAMELAST #NAMEFIRST #NAMEMIDDLE</b> #LOGIN, #ROLE, #CITY</div>
            <p>#TEXTDATA</p>
        </div>
     </div>
</div>
