<div class="leftlink">
    <a rel="nofollow" href="http://#SITECOMP">На главную</a>
</div>
<div class="userlink">
    <div class="username">
        <a rel="nofollow" href="http://#SITEPATH/cabuser" onclick="return true;">Гостевой аккаунт</a>
    </div>
</div>
<div class="leftlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/announce">Мои объявления <span>(#CHECKANN)</span></a>
</div>
<div class="leftlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/favourite">Избранное <span id="countfav">(#CHECKFAV)</span></a>
</div>

<div class="rightlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/mailbox/support">Служба поддержки</a>
</div>
<div class="rightlink">
    <a rel="nofollow" href="http://#SITEPATH/user/register" onclick="return true;">Регистрация</a>
</div>
<div class="rightlink">
    <a rel="nofollow" href="http://#SITEPATH/user/login">Вход</a>
</div>
