<div class="leftlink">
    <a rel="nofollow" href="http://#SITECOMP">На главную</a>
</div>
<div class="userlink">
    <div class="username">
        <a rel="nofollow" href="http://#SITEPATH/cabuser" onclick="return true;">Кабинет #LOGIN</a>
    </div>
    <div class="usericon #todo"></div>
</div>
<div class="leftlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/announce">Объявления <span>(#CHECKANN)</span></a>
</div>
<div class="leftlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/favourite">Избранное <span id="countfav"> (#CHECKFAV)</span></a>
</div>
<div class="leftlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/mailbox">Сообщения <span>(#CHECKMAIL)</span></a>
</div>

<div class="rightlink">
    <a rel="nofollow" href="http://#SITEPATH/user/logout" style="text-decoration: underline;">Выход</a>
</div>
<div class="rightlink">
    <a rel="nofollow" href="http://#SITEPATH/cabuser/mailbox/support">Служба поддержки</a>
</div>
#EXTENDED
