<!--todo-->
<style>
    table {
        margin: 0px;
        padding: 0px;
    }
    th {
        text-align: left;
        border-bottom: 1px dashed silver;
        padding: 3px;
    }
    td {
        border-right: 1px dashed silver;
        border-bottom: 1px dashed silver;
        padding: 3px;
    }
    span {
        font-size: 14px;
        font-weight: bold;
    }
</style>
<div style="padding: 0px 50px;">
    <div>
        <span>Заявка №#TICKETID</span>
        &nbsp;#DATELIFE [#STATUS]
        &nbsp;<a href="/cabcomp/ticket">Назад к заявкам</a>
    </div>
    <form method="post">
    <input type="hidden" name="tickets[#TICKETID]" />
    <table class="announce-table" style="display: table; border: none; padding-top: 0px; width: 100%;">
        <tr>
            <th colspan="10"></th>
        </tr>
        <tr>
            <td rowspan="2" style="border-bottom: none; border-right: none; vertical-align: top; width: 200px;">
                <b>Заказчик</b><br />
                <p>#USERNAME</p>
                #CONTACTS
            </td>
            <td style="border-left: 1px dashed silver;">
                <div style="width: 130px; float: left;">
                    <a href="#COMPATH/item/#ANNOUNCEID"><img class="photo lazy" data-original="/#IMAGEPATH" src="/images/ajax-loader.gif" /></a>
                </div>
                <div><p><b><a href="#COMPATH/item/#ANNOUNCEID">#CAPTION</a></b></p></div>
                <div style="clear: left;">#USERTEXT</div>
            </td>
            <td style="text-align: center;">
                <h3>Кол-во</h3>
                <p>#COUNT #MEAS</p>
            </td>
            <td style="text-align: center;">
                <h3>Сумма заказа</h3>
                <p>#SUMM #LITERAL</p>
            </td>
        </tr>
        <tr>
            <td style="border: none;">
                <p>
                    <input style="display: #STAPR;" type="submit" value="Подтвердить заявку" name="approove"/>
                    <input style="display: #STAPR;" type="submit" value="Отклонить заявку" name="deproove"/>
                </p>
            </td>
        </tr>
    </table>
    </form>
</div>
