<div style="padding: 0px 50px;">
    <form method="post">
    <table id="ticketbox">
        <tr>
            <th width="15px"></th>
            <th>Номер заявки</th>
            <th>Наименование товара</th>
            <th class="centeritem">Заказчик</th>
            <th class="centeritem">Кол-во</th>
            <th class="centeritem">Сумма заказа</th>
            <th class="centeritem">Статус</th>
        </tr>
        #CONTENT
    </table>
    <p>
        <a style="display: #STARC;" class="link-button" href='javascript:;' onclick='return InputCheckAll();' >Выделить все</a>
        <input type="submit" value="Подтвердить заявку" name="approove"/>
        <input type="submit" value="Отклонить заявку" name="deproove"/>
    </p>
    </form>
</div>
