#HEADER
<body>
<div id="main-inside">
    <div id="main-yellow">
        <div id="main-header">
            <div id="main-userpanel">
                #USERDATA
                <div id="ajaxloader">
                    <img src="/images/ajax-progress.gif" height="10px" width="80px" style="float: left;"/>
                </div>
            </div>
            <div id="main-user-tesis">
                <div style="float: left;"><a href="/"><img src="/images/logotype.png" width="178px" height="59px" /></a></div>
                <div class="briefcase"></div>
                <div class="brieftext">
                    <p class="caption">Кабинет компании</p>
                    <p class="text">
                        KUPO компании - Удобный каталог производителей<br />
                        и поставщиков со всего Казахстана
                    </p>
                </div>
            </div>
            <div id="cabinet-tablink">
                #TPLLINK
            </div>
            <div id="cabinet-sublink">
                #TPLSUBLINK
            </div>
            <div id="cabinet-endlink"></div>
        </div>
        #CONTENT
        <!-- Нижняя группировка -->
        <div id="main-group-bottom"></div>
        <!-- Подвал -->
        #FOOTER
    </div>
</div>
</body>
