<div id="banner">
    <p>
        Баннеры - один из лучших способов обратить внимание пользователя на Вас или Ваш товар и предложить посетить Ваш сайт.
        Размер баннера на текущий момент должен быть <b>строго 1000x90 пикселей</b> и весом <b>не более 150кб</b>.
        Размещение баннеров - <b>Бесплатно!</b> до введения особого режима :)
    </p>
    <p>
        <a href="/cabuser/banner&m=create" class="link-button">Начать рекламную кампанию!</a>
    </p>
    <table class="data">
      <tr class="header-small">
        <th>Наименование</th>
        <th>Город</th>
        <th>Категория</th>
        <th>Ссылка</th>
        <th>Клики</th>
        <th>Показы</th>
        <th><nobr>Дата</nobr></th>
        <th>Статус</th>
      </tr>
      #BANNERDATA
    </table>
</div>
