<div class="built-container-silver">
    <form enctype="multipart/form-data" id="form-announce-fast" method='post' action="/cabcomp/postdropitem">
    <input type="hidden" name="id" value="#ANNOUNCEID" />

    <div class="legend picture-knope">
        Удвление объявления №#ANNOUNCEUID
    </div>
    <div class="block-context">

        <div>
            <div class="caption">#CAPTION</div>
        </div>
    </div>

    <div class="legend"><input type="submit" value="Удалить объявление" /></div>
    </form>
</div>
