#HEADER
<body>
<div id="main-userpanel" class="wrapped-width">
    <div class="wrapped-margin">
        #USERDATA
        <div id="ajaxloader">
            <img src="/images/ajax-progress.gif" height="10px" width="80px" style="float: left;"/>
        </div>
    </div>
</div>
<div id="main-testside" class="wrapped-margin" style="margin-top: 29px;">
    <div id="main-yellow">
        <div id="main-header">
            <div id="main-user-tesis">
                <div class="logotype"><a href="/"><img src="/images/logotype.png" width="124px" height="41px" /></a></div>
                <div class="brieftext">
                    <h2 class="caption">Кабинет компании</h2>
                    <h3 class="text">
                        KUPO компании - Удобный каталог производителей и поставщиков со всего Казахстана!
                    </h3>
                </div>
                <a href="/cabuser" class="buttonuser">Кабинет пользователя
                    <div class="buttonstole"></div>
                </a>
            </div>
            <div id="cabinet-tablink">
                #TPLLINK
            </div>
            <div id="cabinet-sublink">
                #TPLSUBLINK
            </div>
            <div id="cabinet-endlink"></div>
        </div>
        #CONTENT
    </div>
</div>
<!-- Подвал -->
#FOOTER
</body>
