<a id="1" href="/cabcomp">
    <div class="left defaultleft"></div>
    <span class="default">Панель управления</span>
    <div class="right defaultright"></div>
</a>
<a id="2" href="/cabcomp/settings">
    <div class="left defaultleft"></div>
    <span class="default">Настройки компании</span>
    <div class="right defaultright"></div>
</a>
<a id="4" href="/cabcomp/cat">
    <div class="left defaultleft"></div>
    <span class="default">Товары и услуги</span>
    <div class="right defaultright"></div>
</a>
<a id="6" href="/cabcomp/ticket">
    <div class="left defaultleft"></div>
    <span class="default">Заявки</span>
    <div class="right defaultright"></div>
</a>
<a id="5" href="/cabcomp/contact">
    <div class="left defaultleft"></div>
    <span class="default">Контакты</span>
    <div class="right defaultright"></div>
</a>
