<div class="built-container-clear">
    <div class="block-context">
        <div style="float: left; width: 210px; border-right: 1px solid #F0F0F0;">
            <div class="photo">
                <img class="lazy" data-original="/#PHOTOPATH" src="/images/ajax-loader.gif" width="190px" height="190px"/>
            </div>
        </div>
        <div><h2 style="color: #007DB5;">#CAPTION</h2></div>
        <div><p>
            Основана <b>#DATELIFE</b>
            в категории <b><a href="/com/#CATID">#CATEGORY</a></b>
            города <b><a href="http://#LATINOS.#SITEPATH/com">#CITY</a></b>
            и на текущий момент имеет рейтинг <b style="color: #007DB5;">#RATING</b>
        </p></div>
        <div style="margin-left: 210px;">#TEXTVIEW</div>
        <div style="clear: left; padding-top: 20px; margin-bottom: 15px; display: inline-block;">
            <div class="block-domain">
                <p>Постоянный домен: <a href="http://#DOMAINAUTO.#SITEPATH">http://#DOMAINAUTO.#SITEPATH</a></p>
                <p>Заказанный домен: #DOMAINSYMBOL</p>
                #DOMAINMODERATE
                <p style="border: none;">Тип компании: <a href="/info/comptype#COMIDTYPE">#COMTYPE</a> #COMSTATE</p>
                <div class="shadow-405"></div>
            </div>
            <div class="block-progress">
                <div class="progress-place">
                    <div class="progress-meter-begin"></div>
                    <div class="progress-meter" style="width: #PROGRESSWIDTHpx;"></div>
                    <div class="progress-meter-end"></div>
                </div>
                &nbsp;Вы используете #PROGRESS% возможностей.<br />
                &nbsp;<b><a href="/info/compeffect">Как повысить эффективность?</a></b>
            </div>
        </div>

        <div id="announce-table" class="block-similate">
            <p>Последние обновления</p>
            <div style="display: inline-block; padding-left: 6px;"></div>
            #SIMILATE
        </div>
        <div class="shadow-988"></div>
    </div>
</div>
