<div class="built-container-silver">
    <form id="company-register" action="/cabcomp/domainpost" method="post">

    <div class="legend picture-persone">Настройки домена, текущий - <a href="http://#DOMAIN.#SITEPATH">#DOMAIN.#SITEPATH</a></div>
    <div class="block-context">
        <div>
            <div class="caption">Желаемый домен, по одному на строку, в порядке приоритета:</div>
            <div>
                <textarea name="subdomain" id="subdomain" rows="4">#DOMAIN_MODERATE</textarea>
            </div>
        </div>
    </div>
    <div class="legend"><input type="submit" value="Сохранить изменения" /></div>
    </form>
</div>
