<div class="built-container-silver">
    <div class="legend picture-knope">
        Добавление новой группы в <a href="/cabcomp/cat">Корневая группа</a>
        #GROUPLINK
    </div>
    <div class="block-context">

    <form action="/cabcomp/postnewgroup" method="post">
        <table>
            <tr>
                <td>Корневая группа:</td>
                <td>
                    <select name="group">
                        <option value="0">Корневая группа</option>
                        #GROUPTREE
                    </select>
                </td>
            </tr>
            <tr>
                <td>Название группы:</td>
                <td><input type="text" name="caption" maxlength="64" size="40" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Добавить" /></td>
                <td><input type="reset" value="Сбросить" /></td>
            </tr>
        </table>

    </form>
    </div>
</div>
