<div id="block#BANNERID" class="state-container">
    <div style="padding: 6px;">
        <div><a href="/user/#USERID">#LOGIN</a>: #PICSIZE</a></div>
        <div>#CAPTION <a href="#LINKURL">#LINKURL</a></div>
        <div><img src="#PICDATA" width="965px" height="87px" /></div>
        <p style="margin-bottom: 0px;">
            <a class="icon-default icon-approove" href="javascript:;" onclick="return admkit.approove('banner', #BANNERID);">Aproove</a>&nbsp;&nbsp;
            <a class="icon-default icon-deproove" href="javascript:;" onclick="return admkit.deproove('banner', #BANNERID)">Deproove</a>
        </p>
    </div>
</div>
