<div id="announce#ANNOUNCEID" class="state-container">
    <div class="header-simple"><a href="/announce/#ANNOUNCEID">№ #ANNOUNCEID:</a>
        #CATEGORY → #CITY → <b>#CAPTION</b>
    </div>
    <div style="padding: 6px;">#TEXTDATA
        <p>#PICDATA</p>
        <p>#CONTACT</p>
        <p>
            <a class="icon-default icon-aproove" href="javascript:;" onclick="return Aproove(#ANNOUNCEID)">Aproove</a>&nbsp;&nbsp;
            <a class="icon-default icon-deproove" href="javascript:;" onclick="return Deproove(#ANNOUNCEID)">Deproove</a>
        </p>
    </div>
</div>