<h4><a class="link-button" href="/admin/company=infocreate">Создать информационную компанию</a></h4>
<table class="company-table-editor" cellspacing="0">
    <tr class="header-small">
        <th>Дата регистрации</th>
        <th>Наименование</th>
        <th>Действие</th>
    </tr>
    #BLOCKDATA
</table>
<div class="selector-table">
    <div style="float: left;"><a href='javascript:;' onclick='javascript: scroll(0,0); return false;'>Наверх ^</a></div>
    <div id="pageselector-bottom">#PAGESELECTOR</div>
</div>
