<div class="state-container" id="stat-#INDEX" style="display: inline-block; margin-right: 5px;">
    <div class="header-simple">#DATELIFE</div>
    <table class="mini">
        <tr><td>Юзер:</td><td>#CNTUSER</td></tr>
        <tr><td>Гость:</td><td>#CNTGUEST</td></tr>
        <tr><td>Агент:</td><td>#CNTAGENT</td></tr>
        <tr><td>Парсер:</td><td>#CNTPARSER</td></tr>
        <tr><td>Компания:</td><td>#CNTCOMPANY</td></tr>
        <tr><td>Удалено:</td><td>#CNTDELETED</td></tr>
        <tr><td colspan="2">
            <hr />
            <b>Итого: #CNTALL </b>
        </td></tr>
        <tr><td colspan="2">
            <a class="icon-default icon-aproove" href="javascript:;"
                onclick="return AdminPostStatAnnounce(#INDEX, '#APPROOVE');">Сохранить</a>
        </td></tr>
    </table>
</div>
