<tr>
    <td>#DAY</td>
    <td id="wt_day_#DAYID">
        #TIMEWORK<br />
        #TIMEBREAK
    </td>
    <td>
        <span class="icon-16x16 icon-edit"><a href="javascript:;" onclick="return worktime.timeget(#DAYID);">Изменить</a></span><br />
        <span class="icon-16x16 icon-delete"><a href="javascript:;" onclick="return worktime.timeclear(#DAYID);">Очистить</a></span><br />
        <span class="icon-16x16 icon-move"><a href="javascript:;" onclick="return worktime.timecopy(#DAYID);">Скопировать на все дни</a></span>
    </td>
</tr>
